@import url(https://fonts.googleapis.com/css?family=Inter:100,100italic,300,300italic,regular,italic,500,500italic,700,700italic,900,900italic);
@import '../../node_modules/normalize.css/normalize';

.content {
  width: 750px;
  margin: 0 auto;
  font-family: 'Inter', sans-serif;
  &__title {
    width: 100%;
    margin: 0 auto;
    padding: 10px;
    font-size: 32px;
    font-weight: 700;
    color: teal;
    text-align: center;
  }
  &__textarea {
    width: 100%;
    border: 2px solid teal;
    border-radius: 5px;
  }
  &__keyboard {
    width: 100%;
    margin: 0 auto;
    padding: 10px;
    padding-bottom: 0;
    background: aliceblue;
    border: 2px solid teal;
    border-radius: 5px;
  }
  &__info {
    width: 100%;
    text-align: center;
  }
}

.textarea {
  display: block;
  height: 200px;
  margin: 10px auto;
  padding: 10px;
  font-size: 18px;
  color: #10272b;
}

.keyboard {
  &__row {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 50px;
    margin-bottom: 6px;
  }
  &__key {
    cursor: pointer;
    width: 50px;
    height: 50px;
    margin-left: 6px;
    line-height: 40px;
    font-weight: 700;
    font-size: 13px;
    text-align: center;
    color: white;
    background: teal;
    border-radius: 4px;
    box-shadow: 2px 2px 2px 1px #10272b;
    transition: all 0.3s ease 0s;
  }

  .tab {
    width: 70px;
  }

  .delete {
    width: 50px;
  }

  .space {
    width: 380px;
  }

  .backspace,
  .capsLock,
  .shiftLeft {
    width: 100px;
  }

  .enter,
  .shiftRight {
    width: 108px;
  }

  .altLeft,
  .altRight,
  .arrowUp,
  .arrowLeft,
  .arrowDown,
  .arrowRight,
  .backspace,
  .capsLock,
  .controlLeft,
  .controlRight,
  .delete,
  .enter,
  .shiftLeft,
  .shiftRight,
  .tab,
  .metaLeft {
    font-weight: 600;
    background-color: rgb(0, 73, 73);
  }
}
